<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <!-- Include the jwt-decode library -->
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/jwt-decode.esm.js"></script>
</head>
<body>
    <button id="btn">Click Me</button>

    <script>
        $(document).ready(function () {
            alert(5 + 7 + '7');
        })   
    </script>
</body>
</html>
