
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordLink</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <title>Final - LinkedIn UI Clone</title>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $("#reset").click(function () {
                ResendLink();
            })
        })

        function ResendLink() {

            var email = $("#typeEmail").val();

            var _jsonemail = { "email_address": email };
            $.ajax(
                {
                    url: 'https://localhost:44319/api/master/checkemail',
                    method: 'post',
                    data: JSON.stringify(_jsonemail),
                    contentType: 'application/json',
                    success: function (resp) {

                        alert(resp);
                   
                       
                    }
                }
            )


        }
    </script>
   
</head>
<body>
    <!-- Header Starts -->
    <center>
        <div class="card text-center" style="width: 300px; margin-top:55px;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline">
                    <input type="email" id="typeEmail"  placeholder="Enter Email" class="form-control my-3" />

                    
                </div>
                <button id="reset" class="btn btn-primary w-100">Send Reset Password Link</button>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="~/Admin/User/Login">Login</a>
                    <a class="" href="~/Admin/User/Login">Register</a>
                 
                </div>
            </div>
        </div>
    </center>
</body>
</html>