
@{
    ViewBag.Title = "UserQualification";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>UserQualification</h2>

<script>
    $(document).ready(function () {
        GetAlluser()
        GetAllSpecialization()
        GetAllDetails();
        $("#savebtn").click(function () {
            saveDetails();
        })

        $("#editbtn").click(function () {
            editDetails();
        })
    })

    function GetAlluser() {
        $.ajax(
            {
                url: "https://localhost:44319/api/userdetails",
                method: 'get',
                contentType: 'application/json',
                //data: JSON.stringify(st),
                success: function (resp) {
                    $.each(resp, function (i, d) {
                        // $("#ddstate").append("<option " + d.state_id + ">" + d.state_name + "</option>")
                        $("#dduser").append("<option value='" + d.user_id + "'>" + d.first_name + "</option>");

                    })
                }
            })
    }
    function GetAllSpecialization() {
        $.ajax(
            {
                url: "https://localhost:44319/api/specilization", 
                method: 'get',
                contentType: 'application/json',
                //data: JSON.stringify(st),
                success: function (resp) {
                    $.each(resp, function (i, d) {
                        // $("#ddstate").append("<option " + d.state_id + ">" + d.state_name + "</option>")
                        $("#ddsp").append("<option value='" + d.specialization_id + "'>" + d.specialization_name + "</option>");

                    })
                }
            })
    }
   
    function GetAllDetails() {
        $.ajax(
            {
                url: "https://localhost:44319/api/userqualification",
                method: 'get',
                contentType: 'application/json',
                //data: JSON.stringify(st),
                success: function (resp) {
                   
                    $.each(resp, function (i, d) {
                        $("#tbldata").append("<tr><td>" + (i + 1) + "</td> <td>" + d.university + "</td><td> " + d.passing_year + "</td><td>" + d.medium + "</td><td>" + d.percentage + "</td > <td>  <button class='btn btn-primary' onclick='Edit(" + d.user_qualification_id + ", \"" + d.university + "\", \"" + d.passing_year + "\", \"" + d.medium + "\", \"" + d.percentage + "\")'>Edit</button>  <button class='btn btn-danger' onclick='Delete(" + d.user_qualification_id + ")'>Delete</button> </td> </tr>")
                    })
                }
            })
    }

    function editDetails() {
       // var cid = $("#cid").val();
        //var cname = $("#cname").val();

        var id=$("#id").val();
        var uname=$("#uname").val();
        var pyear=$("#pyear").val();
        var medium= $("#medium").val();
        var per=$("#per").val();
        
        var _json = { "user_qualification_id":id, "university": uname, "passing_year": pyear, "medium": medium, "percentage": per };
       //var _json = { "user_id": id, "first_name": fname, "middle_name": mname, "last_name": lname, "local_address": laddress, "birth_date": bdate, "joining_date": jdate, "user_photo": pic, "mobile_number": mobile, "email_address": email, "user_name": uname, "password": pass };
        $.ajax(
            {
                url: "https://localhost:44319/api/userqualification",
                method: 'put',
                contentType: 'application/json',
                data: JSON.stringify(_json),
                success: function (resp) {
                    alert(resp);
                    $("#myModal").modal('hide');
                    $("#tbldata").empty();
                    GetAllDetails();
                    //$("#cid").val("");
                    //$("#cname").val("");

                    $("#id").val("");
                    $("#uname").val("");
                    $("#pyear").val("");
                    $("#medium").val("");
                    $("#percentage").val("");
                }
            })
    }

    function Edit(id,uname,pyear,medium,per) {
        $("#id").val(id);
        $("#uname").val(uname);
        $("#pyear").val(pyear);
        $("#medium").val(medium);
        $("#per").val(per);


        $("#editbtn").show();
        $("#savebtn").hide();
        $(".drop").hide();
        $("#myModal").modal('show');

    }

    function Delete(id) {

        $.ajax(
            {
                url: "https://localhost:44319/api/userqualification/" + id,
                method: 'delete',
                contentType: 'application/json',
                // data: JSON.stringify(st),
                success: function (resp) {
                    alert(resp)
                    $("#tbldata").empty();
                    GetAllDetails();
                }
            })
    }



    function AdduserQualification() {
      //  $("#cid").val("");
       // $("#cname").val("");

        $("#id").val("");
        $("#uname").val("");
        $("#pyear").val("");
        $("#medium").val("");
        $("#percentage").val("");
        

        $(".drop").show();
        $("#savebtn").show();
        $("#myModal").modal('show');

        $("#editbtn").hide();
    }

    function saveDetails() {

        $("#myModal").modal('hide');
       // var select = $("#ddstate").val();
        var user = $("#dduser").val();
        var sp = $("#ddsp").val();
       
       // var cname = $("#cname").val();

        var uname = $("#uname").val();
        var pyear = $("#pyear").val();
        var medium = $("#medium").val();
        var per = $("#per").val();
       

        var _json = { "user_id":user,"specialization_id":sp, "university": uname, "passing_year": pyear, "medium": medium, "percentage": per };
       // var city_json = { "first_name": cname, "topic_id": select };
        $.ajax(
            {
                url: "https://localhost:44319/api/userqualification",
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(_json),
                success: function (resp) {
                    alert(resp);
                    $("#tbldata").empty();
                    GetAllDetails();
                }
            })

    }

</script>


<button class="btn btn-secondary" onclick="AdduserQualification()">Add Qualication</button>

<div class="m-4">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-xl ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark"> user Qualification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-light">

                    <table class="table table-borderless">
                        <tr>
                            <td> <label class="label">user qualification id</label></td>
                            <td> <input class="form-control" type="text" id="id" placeholder="id" disabled />  </td>
                            <td colspan="4"></td>
                        </tr>



                        <tr class="drop">
                            <td> <label class="label">select User</label> </td>
                            <td>
                                <select id="dduser" class="form-select" aria-label="Default select example">
                                    <option>select</option>
                                </select>
                            </td>


                            <td> <label class="label">select specialization</label> </td>
                            <td>
                                <select id="ddsp" class="form-select" aria-label="Default select example">
                                    <option>select</option>
                                </select>
                            </td>


                        </tr>



                        <tr>
                            <td> <label class="label-info">University</label></td>
                            <td><input type="text" id="uname" class="form-control" /></td>

                            <td> <label class="label-info">Passing year</label></td>
                            <td><input type="text" id="pyear" class="form-control" /></td>

                            <td> <label class="label-info">medium </label></td>
                            <td><input type="text" id="medium" class="form-control" /></td>
                        </tr>

                        <tr>
                            <td> <label class="label-info">percentage</label></td>
                            <td><input type="text" id="per" class="form-control" /></td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="savebtn">Save changes</button>
                    <button type="button" class="btn btn-primary" id="editbtn">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="bg-info">
                <td>Sr no</td>
                <td>University</td>
                <td>passing year</td>
                <td>Medium</td>
                <td>Percentage</td>

                <td>Action</td>
            </tr>
        </thead>
        <tbody id="tbldata">
        </tbody>
    </table>
</div>

